<div class="py-0 d-flex justify-content-center align-items-center pt-5">
  <div class="card bg-transparent border rounded-3">
    <div class="card-header bg-transparent border-bottom" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
      <h3 class="card-header-title mb-0"> Calculator</h3>
    </div>

    <div class="card-body" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
      <form class="row g-4">
        <div class="col-md-6">
          <label class="form-label">Outside of Lauren</label>
          <div class="input-group">
            <input type="number" class="form-control" placeholder="Miles" [(ngModel)]="outsideLauren" name="outsideLauren" >
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">Inside of Lauren</label>
          <input class="form-control" type="number" placeholder="Miles" [(ngModel)]="insideLauren" name="insideLauren" >
        </div>
        <div class="col-md-6">
          <label class="form-label">Price= ${{totalOutside}}</label>
        </div>

        <div class="col-md-6">
          <label class="form-label">Price= ${{totalInside}}</label>
        </div>

        <div class="d-sm-flex justify-content-center">
          <button type="button" class="btn btn-primary mb-0" (click)="calculateTotal()">Calculate</button>
        </div>
      </form>
    </div>
  </div>
</div>
