<div class="pt-5">
  <div class="row g-2 justify-content-center">
    <div class="col-9">
      <div class="card bg-transparent border rounded-3 h-100">
        <div class="card-header border-bottom"[ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}" >
          <div class="d-flex justify-content-between aling-items-center">
            <h5 class="card-header-title mb-0">{{'travel.td'|translate}}</h5>
            <!-- <div>
              <button class="btn btn-primary me-2">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
                  <span>{{'usercard.address'|translate}} 1: {{travel.address1}} {{travel.time1}} </span>
                  <span class="h6 mb-0"></span>
                </li>
                <li class="list-group-item" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
                  <span>{{'usercard.address'|translate}} 2: {{travel.address2}} {{travel.time2}}</span>
                  <span class="h6 mb-0">  </span>
                </li>
                <li class="list-group-item" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
                  <span>{{'travel.price'|translate}}: ${{travel.price}} </span>
                  <span class="h6 mb-0">  </span>
                </li>

              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
                <li class="list-group-item" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
                  <span>{{'travel.did'|translate}}: {{driver.code}} </span>
                  <span class="h6 mb-0">  </span>
                </li>
                <li class="list-group-item" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
                  <span>{{'travel.name'|translate}}: {{driver.name}} </span>
                  <span class="h6 mb-0">  </span>
                </li>
                <li class="list-group-item" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
                  <span>{{'usercard.model'|translate}}: {{driver.model}} </span>
                  <span class="h6 mb-0">  </span>
                </li>
                <li class="list-group-item" [ngClass]="{'dark-theme': isDarkThemeOn, 'light-theme': !isDarkThemeOn}">
                  <span>{{'usercard.year'|translate}}: {{driver.year}} </span>
                  <span class="h6 mb-0"> </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
